* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

:root {
  --first-color: #069c54;
  --header-text-color: #707070;
  --header-bg-color: #fbfefd;
  --title-color: #393939;
  --first-color-alt: #048654;
  --transition: all 0.3s linear;
  
}

.border {
  border: 0px solid black;
}
.margin-left {
  margin-left: 180px;
}

/* nav {
  background-color: var(--header-bg-color);
  box-shadow: 1px 1px 10px var(--header-text-color);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 22px;
  cursor: pointer;
  font-weight: 600;
  color: var(--header-text-color);
}
.logo:hover {
  color: var(--first-color);
}
.nav-links {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-links li a {
  color: var(--header-text-color);
  font-size: 16px;
}
.nav-links li a:hover {
  color: var(--first-color);
} */


nav {
  background-color: var(--header-bg-color);
  box-shadow: 1px 1px 10px var(--header-text-color);
 
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  color: var(--header-text-color);
  height: 70px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
}
.nav-header .logo:hover
{
  color: var(--first-color);
}
.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
.nav-toggle:hover {
  color: var(--first-color);
  transform: rotate(90deg);
  outline: none;
}
.logo {
  height: 40px;
}
.links a {
  color: var(--header-text-color);
  font-size: 18px;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  
  color: var(--first-color);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 12rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0px;
    padding-left: 18px;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    color: var(--first-color);
  }

}
/* ----------------------------------------------HOME BODY STYLING--------------------------------------- */

.home-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 90vh;
}
.home-body-left {
  padding-top: 130px;
  width: 50%;
}
.home-body-left-heading {
  font-size: 70px;
  font-weight: bolder;
  color: var(--first-color);
  margin-bottom: 20px;
}
.home-body-left-slogo {
  font-size: 50px;
  font-weight: bolder;
  color: var(--title-color);
  margin-bottom: 20px;
}
.home-body-right {
  width: 50%;
  padding-top: 30px;
  padding-left: 40px;
}
.home-body-right img {
  width: 500px;
  height: 500px;
}
.btn {
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--first-color);
  color: white;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--first-color-alt);
  transition: 0.3s;
}

/* ---------------------------------------------------About page page styling-------------------- */
.about-page {
  width: 100%;
  min-height: 90vh;
}
.about-page-left {
  width: 50%;
  float: left;
  clear: both;
}
.about-image-container {
  width: 400px;
  height: 400px;
  margin-left: 180px;
  margin-top: 100px;
}
.about-image-container img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.about-page-right {
  width: 50%;
  float: right;
  padding-left: 100px;
  padding-top: 130px;
  padding-right: 100px;
  padding-bottom: 100px;
}
.about-page-right .about-page-right-title {
  color: var(--first-color);
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.about-page-right .about-page-right-heading {
  color: var(--title-color);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-page-right .about-page-right-content {
  color: var(--header-text-color);
  font-size: 20px;
  margin-bottom: 30px;
}
/* ------------------------SERVICES----------- */
#services {
  width: 100%;
  min-height: 90vh;
}
.section-subtitle {
  color: var(--first-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section-title {
  color: var(--title-color);
  font-size: 40px;
  font-weight: bold;
}
.heading-container {
  margin-left: 320px;
  margin-top: 120px;

  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 300px;
}
.services-container .services-content {
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-container .services-content svg {
  padding-left: 215px;
  padding-top: 30px;
  fill: var(--first-color);
}
.services-container .services-content h3 {
  color: var(--title-color);
  margin-top: -50px;
  margin-bottom: 15px;
  text-align: justify;
}
.services-container .services-content p {
  color: var(--header-text-color);
  text-align: center;
}
/* ------------------------MENU----------- */
#menu {
  min-height: 100vh;
  width: 100%;
}
#menu .menu-title {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu .menu-title h2 {
  color: var(--first-color);
  font-size: 40px;
}
#menu .menu-title p {
  color: var(--title-color);
  font-size: 45px;
  font-weight: bolder;
}
.menu-content {
  min-height: 400px;

  width: 80%;
  display: flex;
  justify-content: space-around;
}
.menu-content .menu-content-details {
  width: 200px;
  width: 25%;
  height: 40%;
  padding-left: 60px;
  box-shadow: 0px 0px 3px black;
}
.menu-content .menu-content-details .menu-image-container {
  width: 150px;
  height: 150px;
}
.menu-content .menu-content-details .menu-image-container img {
  width: 100%;
  height: 100%;
}
.menu-content .menu-content-details h3 {
  color: var(--title-color);
}
.menu-content .menu-content-details p {
  color: var(--header-text-color);
  margin-bottom: 10px;
}
.menu-content .menu-content-details .menu-prices {
  color: var(--title-color);
}
.menu-content .menu-content-details .menu__button {
  background-color: var(--first-color);
  color: #fff;
  display: inline-block;
  padding: 10px 16px;
  margin-left: 110px;
  margin-top: -10px;
  border-radius: 5px 0px 5px 0px;
  transition: 0.3s;
}
.menu-content .menu-content-details .menu__button:hover {
  background-color: var(--first-color-alt);
}
/* ---------------------------APP--------------------------------- */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
#app .app-left {
  width: 50%;
}
#app .app-left .app-image-container {
  width: 350px;
  height: 500px;
  margin-top: 70px;
}
#app .app-left .app-image-container img {
  width: 100%;
  height: 100%;
}
#app .app-right {
  width: 50%;
}
#app .app-right .app-right-content {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 120px;
}
#app .app-right .app-right-content h3 {
  color: var(--first-color);
  margin-bottom: 30px;
}
#app .app-right .app-right-content h1 {
  color: var(--title-color);
  margin-bottom: 30px;
  font-size: 40px;
}
#app .app-right .app-right-content p {
  color: var(--header-text-color);
  margin-bottom: 30px;
}
#app .app-right img {
  width: 160px;
  height: 50px;
}
/* ---------------------------Contact--------------------------------- */
#contact {
  width: 90%;

  margin-top: 100px;
  min-height: 30vh;

  display: flex;
  flex-wrap: wrap;
}
#contact .contact-left {
  width: 50%;
}
#contact .contact-left h3 {
  color: var(--first-color);
  margin-bottom: 10px;
}
#contact .contact-left h1 {
  color: var(--title-color);
  font-size: 40px;
  margin-bottom: 20px;
}
#contact .contact-left p {
  color: var(--header-text-color);
}
#contact .contact-right {
  width: 30%;
}
#contact .contact-right button {
  margin-left: 100px;
  margin-top: 50px;
}
/* ---------------------------------------------------Footer content-------------------- */
#footer-content {
  width: 80%;
  min-height: 20vh;

  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 40px;
}
#footer-content .footer-content-items {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
#footer-content .footer-content-items h2 {
  color: var(--title-color);
  margin-bottom: 15px;
}
#footer-content .footer-content-items span {
  margin-top: 4px;
  color: var(--header-text-color);
  font-weight: bold;
}
#footer {
  width: 80%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

/* ====================MEDIA QUERIES============== */

@media screen and (max-width: 1199px) {
  body {
    background-color: var(--header-bg-color);
  }
}
@media screen and (max-width: 991px) {
  .margin-left {
    margin-left: 100px;
  }
  /* ===================HOME PAGE STYLING================= */

  .home-body-left-heading {
    font-size: 50px;
  }
  .home-body-left-slogo {
    font-size: 30px;
  }
  .home-body-right {
    padding-left: 10px;
  }
  .home-body-right img {
    width: 380px;
    height: 380px;
  }

  /* ==========================About page page styling================= */

  .about-image-container {
    width: 350px;
    height: 350px;
    margin-left: 100px;
  }

  .about-page-right {
    padding-left: 50px;
  }
  .about-page-right .about-page-right-title {
    color: var(--first-color);
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .about-page-right .about-page-right-heading {
    font-size: 30px;
  }
  .about-page-right .about-page-right-content {
    font-size: 15px;
  }

  /* ------------------------SERVICES----------- */

  .section-subtitle {
    font-size: 20px;
  }
  .section-title {
    font-size: 30px;
  }
  .heading-container {
    margin: 0px auto;
    margin-top: 120px;
  }

  .services-container .services-content {
    width: 30%;
  }
  /* -======================   Menu page styling   ================== */

  #menu .menu-title h2 {
    font-size: 30px;
  }
  #menu .menu-title p {
    font-size: 35px;
  }
  .menu-content {
    width: 80%;
  }
  .menu-content .menu-content-details {
    padding-left: 20px;
  }

  /* ---------------------------Contact--------------------------------- */
  #contact {
    width: 100%;
  }
  #contact .contact-left {
    width: 100%;
    text-align: center;
  }

  #contact .contact-right {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .margin-left {
    margin-left: 10px;
  }
  nav .nav-links
  {
    display: none;
  }
  /* ===================HOME PAGE STYLING================= */

  .home-body
  {
    padding-bottom: 0px;
  }
  .home-body-left-heading {
    font-size: 40px;
  }
  .home-body-left-slogo {
    font-size: 20px;
  }
  .home-body-right {
    padding-left: 10px;
  }
  .home-body-right img {
    width: 300px;
    height: 300px;
  }

  /* ==========================About page page styling================= */

  .about-image-container {
    width: 300px;
    height: 300px;
    margin-left: 10px;
  }

  .about-page-right {
    padding-left: 50px;
  }
  .about-page-right .about-page-right-title {
    color: var(--first-color);
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .about-page-right .about-page-right-heading {
    font-size: 20px;
  }
  .about-page-right .about-page-right-content {
    font-size: 12px;
  }

  /* ------------------------SERVICES----------- */

  .section-subtitle {
    font-size: 20px;
  }
  .section-title {
    font-size: 30px;
  }
  .heading-container {
    margin: 0px auto;
    margin-top: 10px;
  }
  .services-container {
    width: 98%;
  }
  .services-container .services-content {
    width: 30%;
  }
  /* ----------------Menu page styling---------------- */

  #menu .menu-title h2 {
    font-size: 30px;
  }
  #menu .menu-title p {
    font-size: 35px;
  }
  .menu-content {
    width: 100%;
  }
  .menu-content .menu-content-details {
    padding-left: 20px;
  }
  .menu-content .menu-content-details .menu-image-container {
    width: 100px;
    height: 100px;
  }
  .menu-content .menu-content-details h3 {
    font-size: 17px;
  }
  .menu-content .menu-content-details p {
    font-size: 17px;
  }
  .menu-content .menu-content-details .menu__button {
    margin-left: 80px;
  }

  /* ---------------------------APP--------------------------------- */

  #app .app-left .app-image-container {
    width: 250px;
    height: 380px;
    margin-top: 30px;
  }

  #app .app-right .app-right-content {
    margin-right: 10px;
  }

  #app .app-right .app-right-content h1 {
    font-size: 30px;
  }

  #app .app-right img {
    width: 100px;
    height: 30px;
  }
  /* ---------------------------Contact--------------------------------- */
  #contact {
    width: 100%;
  }
  #contact .contact-left {
    width: 100%;
  }

  /* ---------------------------------------------------Footer content-------------------- */
  #footer-content {
    width: 100%;
  }
  #footer-content .footer-content-items {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  /* =============================Home body styling===================== */
  .home-body {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  .home-body-left {
    padding-top: 30px;
    width: 100%;
    text-align: start;
  }
  .home-body-left-heading {
    font-size: 40px;
  }
  .home-body-left-slogo {
    font-size: 40px;
  }
  .home-body-right {
    width: 100%;
    padding-left: 100px;
  }
  .home-body-right img {
    width: 300px;
    height: 300px;
  }

  /* ---------------------------------------------------About page styling-------------------- */
  .about-page {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-page-left {
    width: 100%;
    padding-left: 80px;
  }
  .about-image-container {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .about-page-right {
    width: 100%;
    padding-top: 50px;
    text-align: center;
  }
  .about-page-right .about-page-right-title {
    font-size: 25px;
  }
  .about-page-right .about-page-right-heading {
    font-size: 30px;
  }
  .about-page-right .about-page-right-content {
    font-size: 20px;
  }
  /* ------------------------SERVICES----------- */

  .section-subtitle {
    font-size: 15px;
  }
  .section-title {
    font-size: 30px;
  }
  .heading-container {
    margin-left: 10px;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
  }
  .services-container .services-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu {
    min-height: 100vh;
    width: 100%;
  }
  #menu .menu-title {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #menu .menu-title h2 {
    font-size: 35px;
  }
  #menu .menu-title p {
    font-size: 35px;
  }
  .menu-content {
    min-height: 400px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-content .menu-content-details {
    width: 35%;

    height: 40%;
    padding-left: 10px;
    box-shadow: 0px 0px 1px black;
    margin-bottom: 30px;
  }
  .menu-content .menu-content-details .menu-image-container {
    width: 100px;
    height: 100px;
  }

  /* ---------------------------APP--------------------------------- */

  #app {
    display: flex;
    flex-direction: column-reverse;
  }

  #app .app-right {
    width: 100%;
  }
  #app .app-right .app-right-content {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 0px;
    text-align: center;
  }
  #app .app-right .app-right-content h3 {
    font-size: 30px;
  }
  #app .app-right .app-right-content h1 {
    font-size: 40px;
  }

  #app .app-right img {
    width: 160px;
    height: 50px;
  }
  #app .app-left {
    width: 100%;
    margin-left: 100px;
  }
  #app .app-left .app-image-container {
    width: 350px;
    height: 500px;
    margin-top: 70px;
  }
  #app .app-left .app-image-container img {
    width: 100%;
    height: 100%;
  }

  /* ---------------------------------------------------Footer content-------------------- */
  #footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #footer-content .footer-content-items {
    width: 50%;
    margin-bottom: 10px;
  }

  #footer {
    width: 100%;
    text-align: center;
  }
}
